.App-header {
    background-color: #282c34;
    color: white;
  }
    
h4{
    display: inline;
  }
  .nav{
    margin: 0;
    overflow: hidden;
    }
  .nav-item{
        list-style-type: none;  
        padding: 14px 16px;
        float: right;
    }
  a .nav-item{
        color: white;
        text-decoration: none;
        text-align: center;
        display: inline;
    }
  